<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="recipe content">
        <h2>Recipes</h2>
        
        <% if (recipes.length > 0) { %>
            <% recipes.forEach(recipe => { %>
                <a class="single" href="/recipe/<%= recipe._id %>">
                    <h3 class="title"><%= recipe.title %></h3>
                    <p class="snippet"><%= recipe.snippet %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>There are no recipes to display</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>